<!DOCTYPE html>
<html>
<head>
	<title>Upload a file - uShare</title>
</head>
<body>

<form action="/file/upload" method="POST" enctype="multipart/form-data">

	<p>
		Select file to upload:
		<input type="file" name="file"><br>
		<input type="hidden" name="senderid" value="web">
		<input type="submit" value="Send">
	</p>

</form>

</body>
</html>
